In [1]:
#import necessary libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
fb = pd.read_csv("D:/self study/regression/uci-facebook-metrics/fb_clean_eda.csv", index_col = 0)
fb.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057.0,1457.0,1361.0,1674,11710.0,6112,1108,5,130.0,29.0,164.0
2,139441,Photo,3,12,3,3,0.0,2413,4373.0,177.0,113.0,154,2812.0,1503,132,0,66.0,14.0,80.0
3,139441,Photo,2,12,2,10,1.0,50128,87991.0,2211.0,790.0,1119,61027.0,32048,1386,58,1572.0,147.0,1777.0
4,139441,Photo,2,12,2,3,0.0,7244,13594.0,671.0,410.0,580,6228.0,3200,396,19,325.0,49.0,393.0
5,139441,Status,2,12,1,9,0.0,10472,20849.0,1191.0,1073.0,1389,16034.0,7852,1016,1,152.0,33.0,186.0

In [3]:
#dropping share, comment and like columns
fb = fb.drop(["comment","share","like"], axis = 1)

In [4]:
categorical_var = fb[["Category","Type","Paid"]]
numerical_var = fb.drop(["Category","Type","Paid","Total Interactions"], axis = 1)
cat_dummies = pd.get_dummies(categorical_var)

In [5]:
cat_dummies.head()

   Category  Paid  Type_Link  Type_Photo  Type_Status  Type_Video
1         2   0.0          0           0            1           0
2         3   0.0          0           1            0           0
3         2   1.0          0           1            0           0
4         2   0.0          0           1            0           0
5         2   0.0          0           0            1           0

In [6]:
x = pd.concat([numerical_var, cat_dummies], axis = 1, sort = False)
y = fb[["Total Interactions"]]

In [7]:
# implementiong multiple linear regression model 
fb.shape

(489, 16)

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score

In [9]:
#define standard scalar
#and transform data
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
mm_x = mm.fit_transform(x)
mm_y = mm.fit_transform(y)

In [14]:
#buiding and training model
model = LinearRegression()
fold_ = RepeatedKFold(n_splits = 10, n_repeats = 5, random_state = 1)
score = cross_val_score(model, mm_x, mm_y, cv = fold_)
print(score.mean())

0.9314087893296954